.text{
    text-align: center;
    font-size: 30px;
    color: rgb(128, 34, 118);
}
.container{
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    border: 2px solid;
    border-radius: 30px;
    background-color: bisque;
   flex-basis:calc(33.33% - 10px); /* Ширина элемента (по три элемента в строке) с учетом отступов */
    margin: 5px; /* Отступ между элементами */
    text-align: center;
    box-sizing: border-box;
}
.description{
font-size: 30px;
background-color: blanchedalmond;
}